.text-green {
    color: #006400; 
}
    

.text-red {
    color: #8B0000;
}

.text-blue {
    color: #0000CD;
    width: 32%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 800px) {
    .text-blue {
        width: 100%;
    }
}

.one-column {
    width: 100%;
}

.div-400, .div-600, .div-800 {
    display: none; 
}

@media (max-width: 400px) {
.div-400 { 
    display: block;
}
}


@media (min-width: 401px) and (max-width: 799px) {
.div-600 {
    display: block;
}
}

@media (min-width: 800px)  {
.div-800 {
    display: block;
}
}