.doska {
    position: relative;
}

.kletka {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid #000000;
}

.kletka-bl {
    background-color: #c0c0c0;
}

.top-52 {
    top: 52px;
}

.top-104 {
    top: 104px;
}

.top-156 {
    top: 156px;
}

.top-208 {
    top: 208px;
}

.top-260 {
    top: 260px;
}

.top-312 {
    top: 312px;
}

.top-364 {
    top: 364px;
}

.left-52 {
    left: 52px;
}

.left-104 {
    left: 104px;
}

.left-156 {
    left: 156px;
}

.left-208 {
    left: 208px;
}

.left-260 {
    left: 260px;
}

.left-312 {
    left: 312px;
}

.left-364 {
    left: 364px;
}

.figure {
    background-image: url("img/chess.png");
    background-repeat: no-repeat;
}

.ladya {
    background-position: -105px -50px;
}

.kon {
    background-position: -210px -50px;

}

.slon {
    background-position: -155px -50px;
}

.korol {
    background-position: 0 -50px;
}

.ferz {
    background-position: -50px -50px;
}

.peshka {
    background-position: -260px -50px;
}

.peshka-bl {
    background-position: -260px 0;
}

.ladya-bl {
    background-position: -105px 0;
}

.kon-bl {
    background-position: -210px 0;

}

.slon-bl {
    background-position: -155px 0;
}

.korol-bl {
    background-position: 0 0;
}

.ferz-bl {
    background-position: -50px 0;
}