* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Tahoma, sans-serif;
}

.header-wrapper {
    background: url('img/header-bg.png') repeat;
}

.header {
    width: 1000px;
    margin: 0 auto;
}




.logo-wrapper {
    width: 250px;
    padding: 20px 0;
    display: inline-block;
}

.logo-wrapper a {
    display: inline-block;


}

.logo-wrapper p {
    font-size: 13px;
    color: #878484;
    text-transform: uppercase;
    text-align: center;
}

.header-center {
    display: inline-block;
    vertical-align: top;
    padding: 40px 35px;
    text-align: center;
}

.search-wrapper {
    position: relative;
    display: inline-block;
}

.search-wrapper input[type="text"] {
    border: 1px solid #dcdcdc;
    padding: 7px 34px 5px 17px;
    line-height: 26px;
    width: 300px;
}

.header-center h3 {
    color: #bf2622;
    font-size: 18px;
    margin-top: 30px;
}

.header-center p {
    font-size: 16px;
    margin-top: 10px;
}

.header-right {
    display: inline-block;
    vertical-align: top;
    padding: 30px 0;
    text-align: center;
}

.header-right .phone {
    font-size: 18px;
    margin-top: 10px;
}

.header-right .phone img {
    max-height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

.header-right .phone span {
    color: #bf2622;
}

.socials {
    margin-top: 20px;
    text-align: center;
}

.socials .item {
    max-width: 25px;
    display: inline-block;
    margin: 0 5px;
}

.socials .item img {
    max-width: 100%;
}

.cart-wrapper {
    margin-top: 20px;
}

.cart-wrapper .cart {
    display: inline-block;
}

.cart-wrapper .cart .text {
    background: #333;
    display: inline-block;
    color: #ffffff;
    line-height: 46px;
    padding: 0 10px;
    

}

.cart-wrapper .logo {
    display: inline-block;
    background-color: #bf2622;
    padding: 0 10px;
    height: 46px;
    line-height: 46px;
}

.cart-wrapper .logo img {
    width: 20px;
}


